<div class="container">
<div style="margin-bottom: 5rem; margin-top: 2rem;"></div>
<h3>お店一覧</h3>
<div style="margin-bottom: 2rem;"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">場所</th>
      <th scope="col">配達可能時間帯</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_name.each do |d| %>
    <tr>
        <td><%= d.place%></td>
        <td><%= d.section %></td>
        <td><%= link_to '詳細', post_path(d.id),class: "btn btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>