<div class="text-center">
<div class="original-font" style="position: absolute; top: 0; bottom: 0; left: 0;
  right: 0; margin: auto; width:1000px; height:150px; font-size:2.5rem;">
<h1 class="">
ようこそ～^^
</h1>
<p>
  今日は一歩も家から出たくない！！<br>
  でも配達サービスは高すぎる！！！<br>
  そういう方のためのサービスです<br>
</p>


<h3 class="">
<%= link_to '試しに使ってみる（ゲストログイン）', homes_guest_sign_in_path, method: :post %>
</h3>
</div>
</div>