<div class="container">
<div style="margin-bottom: 5rem; margin-top: 2rem;"></div>
<h3>配達内容詳細</h3>
<div style="margin-bottom: 2rem;"></div>
<p>お店：<%=@delivery.place%></p>
<p>配達可能時間帯：<%=@delivery.section%></p>
<p>配達可能個数：<%=@delivery.quantity%></p>
<%= link_to 'この配達を削除する', @delivery, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn btn-danger col-2"%>
<div style="margin-bottom: 5rem; margin-top: 2rem;"></div>
<div style="margin-bottom: 2rem;"></div>
</div>