<div class="container">
<% visitor = notification.visitor %>

<span>
    <%= visitor.username %>
  <span>さんが</span>
  <br>

  <% case notification.action %>
  <% when 'dm' %>
    <p>あなたに</p>
    <h4><i class="fas fa-envelope"></i>DMを送りました</h4>
    <span>メッセージ内容:</span>
      <%= truncate(notification.message.message, length: 20, omission: '... (一部表示)') %>
    <p>投稿時期： <%= time_ago_in_words(notification.created_at).upcase %>前</p>
    <%= link_to room_path(notification.room) do %>
      <h6>DMの送信画面に移動</h6>
    <% end %>
    <hr>
  <% end %>
</span>
</div>