<div class="heads original-font">
　ついでに
</div>
<nav class="original-font">
  <ul>
    <li><%= link_to 'マイページ',root_path%></li>
    <li><%= link_to '配達をする',about_path%></li>
    <li><%= link_to '注文履歴',new_customer_registration_path%></li>
    <li><%= link_to 'ログアウト',new_customer_session_path%></li>
  </ul>
</nav>